body {
	background: url(h.jpg);
}

p {
	background: white;
	padding: 100px;
	width: 500px;
	margin: auto;
	background-size:100% ;
	background-image: url(top.jpg), url(j.jpg), url(p.jpg);
	background-repeat: no-repeat,no-repeat,repeat;
	background-position: top,bottom,center;
	text-align: center;
}
